:root {
    --header-height: 3rem;
    --sidebar-width: 8rem;
}

header {
    height: var(--header-height);
    background-color: #F8F9FA;
}

#sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: darkblue;
}

#main-content {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    background-color: yellow;
}

.my_h_logo {
    height: 2rem;
}