:root {
    --header-height: 3rem;
    --sidebar-width: 3rem;
    --sidebar-lg-width: 8rem;
}

header {
    height: var(--header-height);
    background-color: #F8F9FA;
}

#sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: #051E34;
}

#main-content {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    background-color: yellow;
}

.my_h_logo {
    height: 2rem;
}

@media all and (min-width: 992px) {
    #sidebar {
        width: var(--sidebar-lg-width)
    }

    #main-content {
        width: calc(100% - var(--sidebar-lg-width));
    }
}