:root {
    --header-height: 3rem;
    --sidebar-width: 3rem;
    --sidebar-lg-width: 8rem;
}

header {
    height: var(--header-height);
    background-color: #F8F9FA;
}

#sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: #051E34;
}

#main-content {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

.my_h_logo {
    height: 2rem;
}

.my_icon_square {
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    border-radius: 3px;
}

.my_icon_square_tb {
    padding: 0.2rem;
    border: 1px solid black;
}

.my_fs_small {
    font-size: 0.7rem;
}

.my_avatar {
    height: 15px;
}

.td_wide {
    width: 60%;
}

@media all and (min-width: 992px) {
    #sidebar {
        width: var(--sidebar-lg-width)
    }

    #main-content {
        width: calc(100% - var(--sidebar-lg-width));
    }
}